body, html{
	padding: 0;
	font-family: 'Hiragino Sans GB", "Microsoft YaHei", 黑体, Helvetica, Arial, Tahoma, sans-serif;';
	color: #999999;
	margin: 0;
	background-color: #ffffff;
	height: 100%;
}
p{
	margin: 0;
}
.main {
	border-top: 1px solid #E8E8E8;
}
.header{
	width: 100%;
	height: 50px;
	padding-top: 20px;
	margin: 0 auto;
	
}
.footer{
	width: 100%;
	height: 100px;
	border-top: 1px solid #E8E8E8;
}
.header .logo{
	width: 150px;
	margin:0 5%;
	height: 35px;
	position: relative;
}
.header .logo img{
	width: 100%;
	height: 100%;
}
.main .body{
	padding-top: 50px;
	width: 100%;
	margin: 0 auto;
}
.main .body .title{
	font-size: 24px;
	color: #333333;
	margin:0 5% 20px;
}
.main .body .description{
	font-size: 14px;
	color: #666666;
	margin:0 5% 56px;
}
.main .body .nav-pills{
	width: 90%;
	max-width: 562px;
	height: 50px;
	margin:0 5%;
}
.main .body .nav-pills .pill{
	width: 30%;
	height: 20px;
	border-right: 1px solid #BCBCBC;
	float:left;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	vertical-align:middle;
}
@media screen and (max-width: 450px) {
	.main .body .nav-pills .pill{
		font-size: 14px;
	}
}
.main .body .nav-pills .pill:last-child{
	border-right:none;
}

.main .body .nav-pills .pill .icon{
	background-size: 24px;
	width:24px;
	height:24px;
	vertical-align:middle;
	display: inline-block;
	margin-top: -10px;
}
.main .body .nav-pills .pill .name{
	line-height:20px;
	height: 30px;
	width:100%;
}
.main .body .nav-pills .pill.active .name{
	color:#FF6600;
}
.main .body .nav-pills .pill.ios .icon{
	background-image: url(../image/ios.svg);
}
.main .body .nav-pills .pill.ios.active .icon{
	background-image: url(../image/ios-h.svg);
}
.main .body .nav-pills .pill.android .icon{
	background-image: url(../image/android.svg);
}
.main .body .nav-pills .pill.android.active .icon{
	background-image: url(../image/android-h.svg);
}
.main .body .nav-pills .pill.unity3d .icon{
	background-image: url(../image/unity3d.svg);
}
.main .body .nav-pills .pill.unity3d.active .icon{
	background-image: url(../image/unity3d-h.svg);
}
.table-container{
	width:90%;
	margin:0 5%;
	overflow: auto;
}
.table-wrapper{
	min-width: 450px;
	font-size: 12px;
	text-align: center;
	border-collapse: collapse;
	display: none;
}
.table-wrapper.active{
	display: table;
}
.table-wrapper tr{
	border-bottom: 1px solid #E8E8E8;
}
.table-wrapper th{
	width: 164px;
	line-height: 40px;
}
.table-wrapper td{
	width: 164px;
	line-height: 36px;
}
.table-wrapper tbody{
	overflow-y:auto;
	display:block
}
.table-wrapper thead tr{
	display:block;
	background-color: #F7F7F7;
}
.table-wrapper tbody tr{

	display:block;
	cursor: pointer;
}
.table-wrapper a{
	color: #999999;
}
.table-wrapper .text-sdk{
	color: #4286D5;
}

.table-wrapper tbody tr:hover{
	background-color: #F7F7F7;
}

.footer .botCenter{
	font-size: 14px;
	color: #999999;
	text-align: center;
	line-height: 100px;
}
@media screen and (max-width: 500px) {
	.table-container{
		margin-left: 0;
		z-index: 1;
	}
	.table-wrapper{
		margin-left: 80px;
		z-index: 1;
	}
	.table-wrapper .fixtime{
		background-color: #F7F7F7;
		position: absolute;
		left: 0;
		width: 80px;
		z-index: 2;
		border-bottom: 1px solid #E8E8E8;
	}
}

